@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

.wave-right {
  background-image: url("/assets/img/background/top-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: calc(20vw * 1.075)
}

@media (min-width: 640px) {
  .wave-right {
    width: 15vw;
    height: calc(15vw * 1.075);
  }
}

@media (min-width: 1024px) {
  .wave-right {
    width: 10vw;
    height: calc(10vw * 1.075);
  }
}

.wave-left {
  background-image: url("/assets/img/background/bottom-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: calc(20vw * 1.056);
}

@media (min-width: 640px) {
  .wave-left {
    width: 15vw;
    height: calc(15vw * 1.056);
  }
}

@media (min-width: 1024px) {
  .wave-left {
    width: 10vw;
    height: calc(10vw * 1.056);
  }
}

.crown {
  background-image: url("/assets/img/icons/crown.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  display: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.content.expanded {
  -webkit-line-clamp: initial;
}

.payment-info {
  width: 0px;
}

@media (max-width: 639px) {
  .payment-info {
    width: unset;
    height: 0px;
  }
}

.add-proportion {
  width: 240px;
}

@media (max-width: 1024px) {
  .add-proportion {
    width: unset;
  }
}

@media (min-width: 640px) {
  .add-proportion {
    width: 240px;
  }
}

@media (max-width: 639px) {
  .add-proportion {
    height: 28rem;
  }
}

.border-radius-sp {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

@media (max-width: 639px) {
  .border-radius-sp {
    border-radius: 0.5rem;
  }
}

.border-radius-si {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

@media (max-width: 639px) {
  .border-radius-si {
    border-radius: 0.5rem;
  }
}