@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'flowbite';

.wave-right {
  background-image: url("/assets/img/background/top-right.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: calc(20vw * 1.075)
}

@media (min-width: 640px) {
  .wave-right {
    width: 15vw;
    height: calc(15vw * 1.075);
  }
}

@media (min-width: 1024px) {
  .wave-right {
    width: 10vw;
    height: calc(10vw * 1.075);
  }
}

.wave-left {
  background-image: url("/assets/img/background/bottom-left.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 20vw;
  height: calc(20vw * 1.056);
}

@media (min-width: 640px) {
  .wave-left {
    width: 15vw;
    height: calc(15vw * 1.056);
  }
}

@media (min-width: 1024px) {
  .wave-left {
    width: 10vw;
    height: calc(10vw * 1.056);
  }
}

.crown {
  background-image: url("/assets/img/icons/crown.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.read-more {
  display: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  font-size: 12px;
}

.content.expanded {
  -webkit-line-clamp: initial;
}

.payment-info {
  width: 0px;
}

@media (max-width: 639px) {
  .payment-info {
    width: unset;
    height: 0px;
  }
}

.add-proportion {
  width: 240px;
}

@media (max-width: 1024px) {
  .add-proportion {
    width: unset;
  }
}

@media (min-width: 640px) {
  .add-proportion {
    width: 240px;
  }
}

@media (max-width: 639px) {
  .add-proportion {
    height: 28rem;
  }
}

.border-radius-sp {
  @apply rounded-l-lg
}

@media (max-width: 639px) {
  .border-radius-sp {
    @apply rounded-lg
  }
}

.border-radius-si {
  @apply rounded-r-lg
}

@media (max-width: 639px) {
  .border-radius-si {
    @apply rounded-lg
  }
}

.shadow-right {
  @apply shadow-sm;
  box-shadow: 1px -1px 13px 5px #2f2f2f61;
}

.zumumu-icon {
  background-image: url("/assets/img/icons/zumumu-logo.svg");
  width: 70px;
  height: 34px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.search-bar {
  @apply w-10
}

.expanded {
  @apply border border-nero w-72
}

::-webkit-scrollbar {
  width: 5px;
  transition: width 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: #EAEAEA;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb {
  @apply bg-tealgreen;
  border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: #105548;
}

.scroll-active::-webkit-scrollbar {
  width: 6px;
}

.scroll-active::-webkit-scrollbar-thumb {
  background: #105548;
  transition: background-color 0.3s ease-in-out;
}

.highlight {
  @apply bg-aquamarine
}

.highlight.focused {
  @apply bg-orange-300
}

.halfscreen {
  height: clamp(30vh, 20rem, 50vh);
}