<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Confirmation</title>
  <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
  <main class="flex h-dvh w-full">
    <div class="h-full w-full flex flex-col justify-between">
      <div class="w-full flex flex-col bg-zircon px-6 py-4">
        <div class="w-full flex mb-6">
          <i class="fa-solid fa-arrow-left cursor-pointer text-obsidian text-xl hover:text-tealgreen duration-150 my-4"></i>
        </div>
        <div class="w-full flex flex-col items-center">
          <span class="envelope mb-6"></span>
          <span class="text-tealgreen text-base font-bold text-center mb-8">JUST ONE MORE STEP...</span>
          <span class="text-sm text-gravel font-normal text-center mb-8"></span>
          <div class="w-full border-b border-obsidian mb-4">
            <input type="email" class="w-full flex bg-transparent text-center placeholder:text-center placeholder:text-mediumgrey placeholder:text-sm text-obsidian text-sm border-none focus:ring-1 focus:ring-tealgreen" id="email" placeholder="Enter your Email">
          </div>
          <div class="w-full border-b border-obsidian mb-16">   
            <input type="email" class="w-full flex bg-transparent text-center placeholder:text-center placeholder:text-mediumgrey placeholder:text-sm text-obsidian text-sm border-none focus:ring-1 focus:ring-tealgreen" id="confirmEmail" placeholder="Confirm your Email">
          </div>
          <button class="w-full disabled:bg-lightgrey enabled:bg-tealgreen py-2 text-center text-sm disabled:text-obsidian enabled:text-offwhite rounded-md hover:bg-green-900 ease-in-out duration-300" id="submitButton" disabled>CONTINUE</button>
        </div>
      </div>
      <div class="w-full bg-nero py-4">
        <p class="text-xs text-offwhite text-center">If problem persist you can email us in <strong>test@developers.ph</strong></p>
      </div>
    </div>
  </main>
</body>
<script src="../assets/js/email-confirmation.js"></script>
</html>