<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Confirmation</title>
  <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body class="bg-zircon">
  <main class="flex h-dvh sm:h-full w-full bg-zircon sm:bg-platinum sm:px-7 sm:py-4 sm:justify-center relative">
    <div class="h-full w-full sm:w-unset flex flex-col justify-between sm:justify-normal z-10">
      <div class="w-full sm:w-unset sm:px-28 sm:py-8 flex flex-col bg-zircon px-6 py-4 sm:rounded-t-2xl">
        <div class="w-full flex mb-6 sm:hidden">
          <i class="fa-solid fa-arrow-left cursor-pointer text-obsidian text-xl hover:text-tealgreen duration-150 my-4"></i>
        </div>
        <div class="w-full sm:w-unset flex flex-col items-center">
          <span class="envelope mb-6 sm:mb-4"></span>
          <span class="text-tealgreen text-base sm:text-3xl font-bold text-center mb-8">JUST ONE MORE STEP...</span>
          <span class="text-sm sm:text-base text-gravel font-normal text-center mb-8">Please enter your email address to confirm it's correct.</span>
          <div class="w-full border-b border-obsidian mb-4">
            <input type="email" class="w-full flex bg-transparent text-center placeholder:text-center sm:placeholder:text-base placeholder:text-mediumgrey placeholder:text-sm text-obsidian text-sm sm:text-base border-none focus:ring-1 focus:ring-tealgreen" id="email" placeholder="Enter your Email">
          </div>
          <div class="w-full border-b border-obsidian mb-16 sm:mb-4">   
            <input type="email" class="w-full flex bg-transparent text-center placeholder:text-center sm:placeholder:text-base placeholder:text-mediumgrey placeholder:text-sm text-obsidian text-sm sm:text-base border-none focus:ring-1 focus:ring-tealgreen" id="confirmEmail" placeholder="Confirm your Email">
          </div>
          <button class="w-full disabled:bg-lightgrey enabled:bg-tealgreen py-2 text-center text-sm sm:text-base disabled:text-obsidian enabled:text-offwhite rounded-md hover:bg-green-900 ease-in-out duration-300" id="submitButton" disabled>CONTINUE</button>
        </div>
      </div>
      <div class="w-full sm:w-unset flex justify-center sm:justify-normal bg-nero py-4 sm:py-0 sm:rounded-b-2xl">
        <div class="bg-charcoalgrey p-4 rounded-es-2xl hidden sm:flex">
          <span class="zumumu-icon-white"></span>
        </div>
        <div class="w-full flex justify-center items-center">
          <p class="text-xs sm:text-base text-offwhite text-center">If problem persist you can email us in <strong>test@developers.ph</strong></p>
        </div>
      </div>
    </div>
    <div class="absolute left-0 bottom-0 bottom-wave hidden sm:flex"></div>
  </main>
</body>
<script src="../assets/js/email-confirmation.js"></script>
</html>