<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Condition</title>
  <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
  <main class="w-full h-dvh flex justify-center items-center overflow-hidden bg-seashell relative">
    <div class="absolute h-400 w-1000 top-[-26rem] -left-28 -rotate-10 flex bg-nero"></div>
    <div class="w-full flex px-16">
      <div class="w-full flex flex-col p-4 bg-zircon rounded-lg z-10">
        <div class="flex flex-col">
          <div class="w-full flex justify-between items-center px-16">
            <div class="zumumu-icon"></div>
            <h1 class="text-obsidian text-2xl mt-8">Terms and Condition</h1>
            <i class="fa-solid fa-magnifying-glass text-2xl"></i>
          </div>
          <div class="w-full flex justify-center my-16">
            <div class="w-3/4 flex flex-col h-100 overflow-auto ease-in-out duration-300" id="scrollable">
              <article class="flex flex-col px-4 py-2">
                <section id="date-update">
                  <h3 class="text-tealgreen font-semibold text-base font-sans">Last Updated: [Date]</h3>
                </section>
                <section id="introduction">
                  <h3 class="text-obsidian font-semibold text-base font-sans">1. Introduction</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis lorem tincidunt, sodales nulla a, volutpat orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer non felis eu lectus vestibulum posuere.</p>
              </section>
          
              <section id="subscription-agreement">
                  <h3 class="text-obsidian font-semibold text-base font-sans">2. Subscription Agreement</h3>
                  <p class="text-obsidian font-regular text-base font-sans"><strong class="font-semibold">2.1 Acceptance</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sapien purus. Fusce nec augue a elit faucibus scelerisque nec eget purus.</p>
                  <p class="text-obsidian font-regular text-base font-sans"><strong class="font-semibold">2.2 Eligibility</strong><br>Nulla facilisi. Nulla at nisi ac magna facilisis fringilla in at urna. Curabitur eget arcu at dolor malesuada fermentum vel ac lorem.</p>
              </section>
          
              <section id="subscription-payment-terms">
                  <h3 class="text-obsidian font-semibold text-base font-sans">3. Subscription and Payment Terms</h3>
                  <p class="text-obsidian font-regular text-base font-sans"><strong class="font-semibold">3.1 Subscription Plans</strong><br>Curabitur viverra, massa in gravida fermentum, risus risus fermentum sapien, ut facilisis magna est non metus. Integer at ex ex.</p>
                  <p class="text-obsidian font-regular text-base font-sans"><strong class="font-semibold">3.2 Payment</strong><br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus in nunc vel dui malesuada venenatis at non sem.</p>
                  <p class="text-obsidian font-regular text-base font-sans"><strong class="font-semibold">3.3 Auto-Renewal</strong><br>Vestibulum dapibus diam sit amet sapien vehicula, quis lacinia erat ullamcorper. Suspendisse ac libero eu odio pharetra sagittis ut ut lacus.</p>
                  <p class="text-obsidian font-regular text-base font-sans"><strong class="font-semibold">3.4 Cancellation and Refunds</strong><br>Suspendisse potenti. Vivamus vitae massa euismod, sodales odio eget, pellentesque quam. Nam id nunc quis neque egestas efficitur at nec erat.</p>
              </section>
          
              <section id="user-obligations">
                  <h3>4. User Obligations</h3>
                  <p><strong>4.1 Account Security</strong><br>Nam euismod, urna et ultricies suscipit, eros erat consequat elit, nec mollis velit risus et magna. Integer non ex at est feugiat tincidunt.</p>
                  <p><strong>4.2 Prohibited Activities</strong><br>Phasellus at quam id eros pretium tincidunt nec nec risus:</p>
                  <ul>
                      <li>Fusce vehicula, purus at sollicitudin dapibus, metus nulla lacinia orci.</li>
                      <li>Sed porttitor, nisl id faucibus malesuada, nunc urna ullamcorper ex.</li>
                      <li>Aenean vel felis nec metus feugiat efficitur non at velit.</li>
                  </ul>
              </section>
          
              <section id="intellectual-property">
                  <h3>5. Intellectual Property</h3>
                  <p>Vestibulum venenatis est vel nibh auctor, non interdum nisi posuere. Ut sit amet risus et orci fermentum scelerisque. Aliquam ac dictum metus. Donec ut velit vitae tortor sollicitudin consectetur.</p>
              </section>
          
              <section id="privacy-policy">
                  <h3>6. Privacy Policy</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, leo at ultrices tincidunt, lectus quam suscipit mi, sit amet vehicula orci justo non sapien.</p>
              </section>
          
              <section id="limitation-liability">
                  <h3>7. Limitation of Liability</h3>
                  <p>Mauris dapibus lorem at mi viverra, nec vestibulum eros tincidunt. Etiam nec nisi non metus ullamcorper ultrices. Sed sit amet massa nec tortor lacinia dictum.</p>
              </section>
          
              <section id="modifications-terms">
                  <h3>8. Modifications to Terms</h3>
                  <p>Curabitur fringilla lectus et tellus blandit vehicula. Integer ut dolor eu ex lacinia luctus. Nam id velit a lorem dapibus pharetra a id mi. Integer mollis leo vel vehicula consectetur.</p>
              </section>
          
              <section id="governing-law">
                  <h3>9. Governing Law</h3>
                  <p>Quisque in odio nec risus tempor elementum. Aliquam non velit non turpis congue posuere non eu metus. Suspendisse feugiat odio eu nulla dictum vehicula.</p>
              </section>
          
              <section id="contact-information">
                  <h3>10. Contact Information</h3>
                  <p>Sed euismod ante sed nulla hendrerit, non eleifend lorem volutpat. Duis posuere odio sit amet sapien vehicula vehicula. Phasellus consectetur purus et lectus suscipit, at ullamcorper nisi ultrices.</p>
              </section>
              <div class="flex items-center my-4">
                <input id="accept-terms-condition" type="checkbox" class="w-4 h-4 text-tealgreen bg-gray-100 border-gray-300 rounded focus:ring-tealgreen">
                <label for="accept-terms-condition" class="ms-2 text-base font-semibold text-obsidian">I accept the Terms and Conditions</label>
              </div>
              </article>
            </div>
          </div>
          <div class="w-full flex justify-center gap-5">
            <button type="button" class="text-nero hover:text-offwhite border border-nero hover:bg-nero focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 duration-300">Decline</button>
            <button type="button" class="enabled:text-offwhite enabled:bg-tealgreen border enabled:border-tealgreen enabled:hover:bg-green-900 focus:ring-4 disabled:text-gray-500 disabled:border-gray-500 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2 duration-300" id="continue-btn" disabled>Continue</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
<script src="../assets/js/terms-and-condition.js"></script>
</html>