<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Terms and Condition</title>
  <link rel="stylesheet" href="../assets/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="../public/styles.css">
</head>
<body>
	<main class="w-full h-full md:h-dvh flex flex-col overflow-hidden bg-seashell relative px-4 md:px-8 lg:px-16 py-4 overflow-y-auto">
		<div class="absolute h-300 lg:h-400 w-1000 top-[-26rem] -left-28 -rotate-10 flex bg-nero"></div>
		<div class="z-10 p-0 md:py-4">
			<i class="fa-solid fa-arrow-left cursor-pointer text-offwhite text-xl md:text-2xl hover:text-tealgreen duration-150 mb-4 md:my-4"></i>
		</div>
		<div class="w-full h-full flex flex-col justify-between p-4 bg-zircon rounded-lg z-10">
			<div class="w-full flex max-sm:flex-col justify-between items-center px-8 lg:px-16">
				<div class="zumumu-icon"></div>
				<h1 class="text-obsidian text-center text-base font-semibold md:text-2xl mt-4 md:mt-8">Terms and Condition</h1>
				<div class="relative h-full flex">
					<div class="flex absolute right-0 top-2/4 translate-x-0 -translate-y-2/4 cursor-pointer group rounded-full hover:border-tealgreen duration-300 focus-within:border-tealgreen search-bar" id="search-bar">
						<div class="w-full hidden md:flex relative items-center">
							<i class="fa-solid fa-magnifying-glass text-2xl mx-2 text-obsidian group-hover:text-tealgreen group-focus-within:text-tealgreen duration-300" id="search"></i>
							<input class="w-full flex bg-transparent border-none outline-none focus:border-none focus:outline-none focus:ring-0" type="text" placeholder="Search..." id="search-input">
							<div class="absolute -bottom-2 w-28 hidden justify-around items-center left-2/4 -translate-x-2/4 translate-y-full" id="find-counter">
								<i class="fa-solid fa-angle-left text-tealgreen text-xl cursor-pointer" id="prev-highlight"></i>
								<span class="text-xs text-tealgreen" id="highlight-count">0 of 0</span>
								<i class="fa-solid fa-angle-right text-tealgreen text-xl cursor-pointer" id="next-highlight"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="w-full flex justify-center m-0 md:my-4">
				<div class="w-full halfscreen md:w-10/12 lg:w-3/4 flex flex-col overflow-auto ease-in-out duration-300" id="scrollable">
					<article class="flex flex-col px-0 md:px-4 py-2" id="article-content">
						<h3 class="text-tealgreen font-semibold text-sm md:text-base font-sans">Last Updated: [Date]</h3>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">1. Introduction</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis lorem tincidunt, sodales nulla a, volutpat orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer non felis eu lectus vestibulum posuere.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">2. Subscription Agreement</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">2.1 Acceptance</strong><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet sapien purus. Fusce nec augue a elit faucibus scelerisque nec eget purus.</p>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">2.2 Eligibility</strong><br>Nulla facilisi. Nulla at nisi ac magna facilisis fringilla in at urna. Curabitur eget arcu at dolor malesuada fermentum vel ac lorem.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">3. Subscription and Payment Terms</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">3.1 Subscription Plans</strong><br>Curabitur viverra, massa in gravida fermentum, risus risus fermentum sapien, ut facilisis magna est non metus. Integer at ex ex.</p>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">3.2 Payment</strong><br>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vivamus in nunc vel dui malesuada venenatis at non sem.</p>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">3.3 Auto-Renewal</strong><br>Vestibulum dapibus diam sit amet sapien vehicula, quis lacinia erat ullamcorper. Suspendisse ac libero eu odio pharetra sagittis ut ut lacus.</p>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">3.4 Cancellation and Refunds</strong><br>Suspendisse potenti. Vivamus vitae massa euismod, sodales odio eget, pellentesque quam. Nam id nunc quis neque egestas efficitur at nec erat.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">4. User Obligations</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">4.1 Account Security</strong><br>Nam euismod, urna et ultricies suscipit, eros erat consequat elit, nec mollis velit risus et magna. Integer non ex at est feugiat tincidunt.</p>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans"><strong class="font-semibold">4.2 Prohibited Activities</strong><br>Phasellus at quam id eros pretium tincidunt nec nec risus:</p>
						<ul class="list-disc mx-8">
							<li class="text-obsidian font-normal text-sm md:text-base font-sans">Fusce vehicula, purus at sollicitudin dapibus, metus nulla lacinia orci.</li>
							<li class="text-obsidian font-normal text-sm md:text-base font-sans">Sed porttitor, nisl id faucibus malesuada, nunc urna ullamcorper ex.</li>
							<li class="text-obsidian font-normal text-sm md:text-base font-sans">Aenean vel felis nec metus feugiat efficitur non at velit.</li>
						</ul>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">5. Intellectual Property</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Vestibulum venenatis est vel nibh auctor, non interdum nisi posuere. Ut sit amet risus et orci fermentum scelerisque. Aliquam ac dictum metus. Donec ut velit vitae tortor sollicitudin consectetur.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">6. Privacy Policy</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin scelerisque, leo at ultrices tincidunt, lectus quam suscipit mi, sit amet vehicula orci justo non sapien.</p>          
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">7. Limitation of Liability</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Mauris dapibus lorem at mi viverra, nec vestibulum eros tincidunt. Etiam nec nisi non metus ullamcorper ultrices. Sed sit amet massa nec tortor lacinia dictum.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">8. Modifications to Terms</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Curabitur fringilla lectus et tellus blandit vehicula. Integer ut dolor eu ex lacinia luctus. Nam id velit a lorem dapibus pharetra a id mi. Integer mollis leo vel vehicula consectetur.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">9. Governing Law</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Quisque in odio nec risus tempor elementum. Aliquam non velit non turpis congue posuere non eu metus. Suspendisse feugiat odio eu nulla dictum vehicula.</p>
						<h3 class="text-obsidian font-semibold text-sm md:text-base font-sans">10. Contact Information</h3>
						<p class="text-obsidian font-normal text-sm md:text-base font-sans">Sed euismod ante sed nulla hendrerit, non eleifend lorem volutpat. Duis posuere odio sit amet sapien vehicula vehicula. Phasellus consectetur purus et lectus suscipit, at ullamcorper nisi ultrices.</p>
						<div class="flex items-center px-2 md:p-0 mt-3">
							<input id="accept-terms-condition" type="checkbox" class="w-3 h-3 md:w-4 md:h-4 text-tealgreen bg-gray-100 border-gray-300 rounded focus:ring-tealgreen cursor-pointer">
							<label for="accept-terms-condition" class="ms-2 text-sm md:text-base font-semibold text-obsidian cursor-pointer">I accept the Terms and Conditions</label>
						</div>
					</article>
				</div>
			</div>
			<div class="w-full flex justify-center gap-2 mt-2 md:m-0 md:gap-5">
				<button type="button" class="text-nero hover:text-offwhite border border-nero hover:bg-nero focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-xs md:text-sm px-3 py-2 md:px-5 md:py-2.5 text-center me-2 mb-2 duration-300">Decline</button>
				<button type="button" class="enabled:text-offwhite enabled:bg-tealgreen border enabled:border-tealgreen enabled:hover:bg-green-900 focus:ring-4 disabled:text-gray-500 disabled:border-gray-500 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-xs md:text-sm px-3 py-2 md:px-5 md:py-2.5 text-center me-2 mb-2 duration-300" id="continue-btn" disabled>Continue</button>
			</div>
		</div>
	</main>
	
</body>
<script src="../assets/js/terms-and-condition.js"></script>
</html>